body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: rgb(77, 77, 77);
}

.span-color {
    color: orange;
}

p {
    color: rgb(71, 66, 66);
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(243, 50, 16));
    color: white;
    font-weight: 800;
    padding: 15px 40px;
    border-radius: 25px;
}

.container {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding: 5%
}

h2 {
    font-weight: bold;
}

.half-width-img {
    width: 60%;
}

.about-part {
    display: flex;
    margin-bottom: 50px;
}

h3 {
    font-weight: bold;
}

.middle-barner {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-right: 5%;
}

.second-half-width-img {
    width: 50%;
    margin-left: 10%;

}

.second-half-width {
    width: 20%;
    text-align: justify;
    padding: 150px 200px;

}

.foods-item {
    display: flex;
    margin-left: 10%;

}

.foods-menu {
    width: 300px;
    margin: 2%;
    padding: 2%;
    box-shadow: 20px 20px 40px grey;
    border-radius: 20px;
    margin-bottom: 50px;
}

.foods-menu img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.my-recipies {
    text-align: center;
}

.social-followers {
    display: flex;
    width: 72%;

    padding: 2%;
    margin-left: 12%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 40px grey;
}

#viewers {
    margin-left: 17%;
    font-weight: bold;


}

.footer {
    width: 90%;
    height: 150px;
    margin: 5%;
    padding: 1%;
    text-align: center;
    color: gray;
    background-color: black;
}

.footer p {
    color: white;
}